{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Knapsack</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Weight</th>
            <th>Value</th>
            <th>Action</th>
        </tr>

        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.value }}</td>
            <td>
                <a href="/delete/{{ item.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="form">
        <form action="/" method="POST">
            <input type="text" maxlength="200" name="name" id="content" placeholder="Name">
            <input type="number" min="0" maxlength="5" name="weight" id="content" placeholder="Weight">
            <input type="number" min= "0" maxlength="5" name="value" id="content" placeholder="Value">
            <input type="submit" value="Add Item">
        </form>
    </div>

    <div class="center" style="padding-top: 15px;">
        <div class="form">
            <form action="/output" method="POST">
                <input type="number" min="0" maxlength="10" name="maxWeight" id="content" placeholder="Max Weight">
                <input type="submit" value="Get Items">
            </form>
        </div>
    </div>
</div>

{% endblock %}